* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ff3c3c;
  font-size: 60px;
  margin-top: 60px;
}

.p1 {
  color: red;
  margin-top: 85px;
  text-align: center;
  font-size: 40px;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0f0000, #400000);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}
